@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
.contact-page {
    max-width: 65rem;
    margin: 1rem auto;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f4f85a;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
    color: #2c3e50;
    font-size: 1.25rem;
    font-weight: 700;
}

.contact-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contact-card {
    background-color: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 14rem;
}

.contact-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.card-image {
    height: 10rem;
    overflow: hidden;
}

.members {
    /* max-width: 65rem; */
    width: 100vm;
    display: flex;
    align-items: center;
    padding: 1rem 0rem;
    margin: 0 auto;
    justify-content: space-between;
    margin: 0 2rem;
    flex-wrap: wrap;
}

.club {
    max-width: 65rem;
    width: 100vm;
    display: flex;
    /* align-items: center; */
    padding: 1rem 0rem;
    margin: 0 auto;
    justify-content: space-between;
    flex-direction: column;
    object-position: center;
}

.tech {
    padding: 1rem 3rem;
    margin: 0 auto;
    color: black;
    border-radius: 0.5rem;
    box-shadow: 0 4px 10px rgba(31, 31, 28, 0.5);
    font-size: large;
}

.faculty {
    display: flex;
    align-items: center;
    object-position: center;
}

.card-image img {
    width: 100%;
    object-fit: fill;
    height: 100%;
}

.card-content {
    padding: 20px;
}

.contact-card h3 {
    margin-top: 0;
    margin-bottom: 1px;
    color: #34495e;
    font-size: 1rem;
}

.contact-card p {
    margin: 1px 0;
    font-size: 14px;
    color: #7f8c8d;
}

.contact-card .title {
    font-weight: 500;
    color: #3498db;
    margin-bottom: 15px;
}

.contact-card .email,
.contact-card .phone,
.contact-card .mobile {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.contact-card i {
    margin-right: 10px;
    color: #3498db;
}

@media (max-width: 992px) {
    .contact-card {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .contact-card {
        width: 100%;
    }
}