/* General container */
.container {
  width: 100%;
  height: 105%;
  text-align: center;
}

/* About us section */
.aboutus {
  width: 100%;
  padding: 0 2%;
  box-sizing: border-box;
}

.aboutus_row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.aboutusphoto_container {
  display: flex;
  align-items: flex-start;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  padding: 1%;
  margin: 20px 0;
  flex: 1;
  min-width: 45%; /* Ensure two fit in a row */
}

.image_container {
  margin-right: 20px;
}

.image_container img {
  width: 150px;
  border-radius: 10px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.country_text, .branch_text, .program_text {
  font-size: 1.2em;
  color: #faab1a;
  background-color: #ffffff;
  padding: 10px;
  text-align: left;
}

.dir_common {
  padding: 15px;
  text-align: left;
}

.home_heading {
  font-size: 1.8em;
  font-weight: bold;
  color: #fa821a;
  background-color: #ffffff;
  padding: 10px;
  margin: 10px 0;
}

.decorative-line {
  width: 100%;
  height: 2px;
  background-color: #dfdada;
  margin: 10px 0;
  border-radius: 2px;
}

@media (max-width: 768px) {
  .aboutusphoto_container {
      flex-direction: column;
      align-items: center;
      min-width: 100%;
  }
  .aboutus_row {
      flex-direction: column;
      align-items: center;
  }
  .image_container {
      margin-right: 0;
      margin-bottom: 10px;
  }
  .text-container {
      text-align: center;
  }
}
